<div class="main-content">
  <div class="row">
      <div class="col-md-12">

          <div class="card">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title">Liste des participants</h4>
                <!-- Bouton Ajouter Participant -->
                <button class="btn btn-sm btn-primary" (click)="ajouterPartcipant()">Ajouter participant</button>
              </div>
            </div>
              <div class="card-body">
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                          <thead>
                              <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>login</th>
                                <th>Email</th>
                                <th>company_id</th>
                                <th class="disabled-sorting text-right">Actions</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>login</th>
                                <th>Email</th>
                                <th>societe_id</th>
                                
                                <th>Actions</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr *ngFor="let user of users">
                                  <td>{{ user.nom }}</td>
                                  <td>{{ user.prenom }}</td>
                                  <td>{{ user.login}}</td>
                                  <td>{{ user.email }}</td>
                                  <td>{{ user.company_id }}</td>
                                 
                                  <td class="text-right">
                                    <a [routerLink]="['/compte-participant/modif', user.id]" class="btn btn-warning btn-link btn-icon btn-sm edit">
                                      <i class="fa fa-edit"></i>
                                    </a>
                                    <button type="button" (click)="delete($event,user.id)" class="btn btn-danger btn-link btn-icon btn-sm remove"><i class="fa fa-times"></i></button>
                                  </td>

                              </tr>
                          </tbody>
                      </table>
              </div>
              <!-- end content-->
          </div>
          <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>
