<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <form (ngSubmit)="saveUser()">

            <div class="card-header">
              <h4 class="card-title">Register participant</h4>
            </div>
            <div class="card-body">
              <div class="form-group has-label">
                <label class="control-label" for="nom">Nom:
                  <span class="star">*</span>
                </label>
                <input type="text" class="form-control" name="nom" [(ngModel)]="nom" required>
              </div>
              <div class="form-group has-label">
                <label class="control-label" for="prenom">Prénom:
                  <span class="star">*</span>
                </label>
                <input type="text" class="form-control" name="prenom" [(ngModel)]="prenom" required>
              </div>
              <div class="form-group has-label">
                <label class="control-label" for="login">Login:
                  <span class="star">*</span>
                </label>
                <input type="text" class="form-control" name="login" [(ngModel)]="login" required>
              </div>
              <div class="form-group has-label">
                <label class="control-label" for="password">Password:
                    <span class="star">*</span>
                </label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password" required >
                
            </div>
              <div class="form-group has-label">
                <label class="control-label" for="email">Email Address:
                  <span class="star">*</span>
                </label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
              </div>
              <div class="form-group has-label">
                <label class="control-label" for="companyid">Company id:
                  <span class="star">*</span>
                </label>
                <input type="number" class="form-control" name="companyid" [(ngModel)]="company_id" required>
              </div>
              <div class="category"> <span class="star">*</span> Required fields</div>
            </div>
            <div class="card-footer text-right">
              <div class="form-check pull-left">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="optionCheckboxes">
                  <span class="form-check-sign"></span>
                  Subscribe to newsletter
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
              <button type="button" routerLink="/compte-participant" class="btn btn-secondary">Retour</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
